.screen {
    position: relative;
    color: white;
    height: 150px;
    width: 350px;
    background-color: rgba(0,0,0,.6);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.result {
    position: absolute;
    top: 60%;
    right: 10%;
    font-size: 2.5rem;
}

.old-calc {
    color:rgba(255, 255, 255, 0.6);
    font-size: 15px;
    position: absolute;
    top: 30%;
    right: 10%;

}